/com.sphenon.components.basics.context/
/com.sphenon.sphenon-module/
/com.sphenon.components.basics.reference/
/com.sphenon.components.basics.variatives/
/com.sphenon.components.basics.message/
/com.sphenon.components.basics.exception/
/com.sphenon.components.basics.configuration/
/com.sphenon.components.basics.configurationap/
/com.sphenon.components.basics.notification/
