/com.sphenon.components.basics.context/
/com.sphenon.sphenon-module/
/com.sphenon.components.basics.reference/
/com.sphenon.components.basics.variatives/
/com.sphenon.components.basics.message/
/com.sphenon.components.basics.exception/
/com.sphenon.components.basics.configuration/
/com.sphenon.components.basics.configurationap/
/com.sphenon.components.basics.notification/
/com.sphenon.components.basics.notificationlog4j/
/com.sphenon.components.basics.system/
/com.sphenon.components.basics.smallparts/
/com.sphenon.components.basics.services/
/com.sphenon.components.basics.encoding/
/com.sphenon.components.basics.expression/
/com.sphenon.components.basics.configurationjs/
/com.sphenon.components.basics.factory/
/com.sphenon.components.basics.retriever/
/com.sphenon.components.basics.interaction/
/com.sphenon.components.basics.many/
