/com.sphenon.components.basics.context/
/com.sphenon.sphenon-module/
/com.sphenon.components.basics.reference/
/com.sphenon.components.basics.variatives/
/com.sphenon.components.basics.message/
/com.sphenon.components.basics.exception/
/com.sphenon.components.basics.configuration/
/com.sphenon.components.basics.configurationap/
/com.sphenon.components.basics.notification/
/com.sphenon.components.basics.notificationlog4j/
/com.sphenon.components.basics.system/
/com.sphenon.components.basics.smallparts/
/com.sphenon.components.basics.services/
/com.sphenon.components.basics.encoding/
/com.sphenon.components.basics.expression/
/com.sphenon.components.basics.configurationjs/
/com.sphenon.components.basics.factory/
/com.sphenon.components.basics.retriever/
/com.sphenon.components.basics.interaction/
/com.sphenon.components.basics.many/
/com.sphenon.components.basics.event/
/com.sphenon.components.basics.operations/
/com.sphenon.components.basics.testing/
/com.sphenon.components.basics.metadata/
/com.sphenon.components.basics.accessory/
/com.sphenon.components.basics.locating/
/com.sphenon.components.basics.actor/
/com.sphenon.components.basics.aspects/
/com.sphenon.components.basics.security/
/com.sphenon.components.basics.data/
/com.sphenon.components.basics.application/
/com.sphenon.components.basics.javacode/
/com.sphenon.components.basics.graph/
/com.sphenon.components.basics.graphgithub/
/com.sphenon.components.basics.variativeinst/
/com.sphenon.components.basics.doclet/
/com.sphenon.components.basics.xml/
/com.sphenon.components.formats.json/
/com.sphenon.components.formats.yaml/
/com.sphenon.components.engines.factorysite/
/com.sphenon.components.engines.generator/
/com.sphenon.components.basics.xmlbindings/
/com.sphenon.components.basics.docletjavadoc/
/com.sphenon.components.basics.editor/
/com.sphenon.components.basics.processing/
/com.sphenon.components.basics.state/
/com.sphenon.components.basics.space/
/com.sphenon.components.basics.monitoring/
